<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/welcome_styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bayon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <title>Recycling App</title>
</head>
<body>
    <div class="upper">
        <section class="text_container">
            <div class="h1_container">
                <h1>Let's get recycling</h1>
            </div>
            <div class="p_container">
                <p>Join us in the effort to reduce waste and protect our planet by implementing recycling practices</p>
            </div>
            <div class="btn_container">
                <a href="/home">
                    <span>Come with us!</span>
                </a>
            </div>
        </section>
        <section class="question_img_container">
            <img src="../static/images/question.png" alt="question mark">
        </section>
    </div>
    <div class="lower">
        <section class="bin_img_container">
            <img src="../static/images/waste_bin.png" alt="waste_bin">
        </section>

    </div>
    
</body>
</html>